* {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none; }

a {
  color: #000;
  text-decoration: none; }

body {
  background: #fafafa;
  font-weight: 200; }

* {
  margin: 0;
  padding: 0; }

.phone_login_box {
  width: 10rem;
  border-radius: 5px;
  background: #fafafa;
  margin: 0 auto;
  overflow: hidden; }
  .phone_login_box .phone_login {
    width: 9.2rem;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden; }
    .phone_login_box .phone_login .cancel {
      margin-top: 0.4rem;
      font-size: 0.3866666667rem;
      float: right; }
  .phone_login_box .cancel_title {
    margin-top: 1.5866666667rem;
    width: 9.2rem;
    display: flex; }
    .phone_login_box .cancel_title p {
      font-size: 0.48rem;
      margin: 0 auto;
      font-weight: 400; }
  .phone_login_box .cancel_input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1.1333333333rem;
    width: 8.4rem;
    height: 1.1733333333rem;
    border: 1px solid #9b9b9b;
    border-radius: 45px;
    background: #fff; }
    .phone_login_box .cancel_input input {
      width: 5.1333333333rem;
      height: 0.4266666667rem;
      border: none;
      border-right: 1px solid #9b9b9b;
      -moz-placeholder: #cacaca;
      font-size: 0.3466666667rem; }
    .phone_login_box .cancel_input p {
      width: 2.3333333333rem;
      height: 0.4266666667rem;
      font-size: 0.3466666667rem;
      line-height: 0.4266666667rem;
      text-align: right;
      font-weight: 400; }
  .phone_login_box .cancel_code {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 0.6666666667rem;
    width: 8.4rem;
    height: 1.1733333333rem;
    border: 1px solid #9b9b9b;
    border-radius: 45px;
    background: #fff; }
    .phone_login_box .cancel_code input {
      width: 7.4666666667rem;
      height: 0.4266666667rem;
      border: none;
      -moz-placeholder: #cacaca;
      font-size: 0.3466666667rem; }
  .phone_login_box .cancel_login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 0.6666666667rem;
    width: 8.4rem;
    height: 1.2rem;
    border-radius: 45px;
    background: #fff;
    background: #faa9a9; }
    .phone_login_box .cancel_login p {
      height: 0.4266666667rem;
      font-size: 0.3466666667rem;
      font-weight: 300;
      color: #fff; }
  .phone_login_box .cancel_agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 0.4266666667rem;
    width: 9.2rem; }
    .phone_login_box .cancel_agreement span {
      font-size: 0.2933333333rem;
      font-weight: 350; }
    .phone_login_box .cancel_agreement span:nth-child(2) {
      color: #44689b; }
    .phone_login_box .cancel_agreement span:nth-child(4) {
      color: #44689b; }
  .phone_login_box .cancel_zhuce_denglu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1.2rem;
    width: 9.2rem; }
    .phone_login_box .cancel_zhuce_denglu span {
      font-size: 0.3466666667rem;
      font-weight: 350;
      color: #44689b; }
    .phone_login_box .cancel_zhuce_denglu span:nth-child(2) {
      color: #ddd; }
  .phone_login_box .cancel_youlian {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 4.5333333333rem;
    width: 9.2rem;
    overflow: hidden; }
    .phone_login_box .cancel_youlian .youlian {
      display: flex;
      overflow: hidden; }
      .phone_login_box .cancel_youlian .youlian div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.7066666667rem;
        height: 1.7066666667rem;
        overflow: hidden; }
        .phone_login_box .cancel_youlian .youlian div p {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 1.1733333333rem;
          height: 1.1733333333rem;
          border-radius: 50%;
          box-shadow: 0 0 10px #ccc;
          overflow: hidden; }
          .phone_login_box .cancel_youlian .youlian div p span {
            font-size: 0.5333333333rem;
            color: #36C022; }
      .phone_login_box .cancel_youlian .youlian div:nth-child(2) p span {
        font-size: 0.6666666667rem;
        color: #F25E54; }
      .phone_login_box .cancel_youlian .youlian div:nth-child(3) p span {
        font-size: 0.6666666667rem;
        color: #EFAD00; }
      .phone_login_box .cancel_youlian .youlian div:nth-child(4) p span {
        font-size: 0.7333333333rem;
        color: #EFAD00;
        margin-top: -5px;
        margin-left: 3px; }

/*# sourceMappingURL=phone-login.css.map */
